#wrapper-cards {
	min-height: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	display: grid;
	grid-template-columns: repeat(auto-fit, calc(25% - 6px));
	gap: 8px;
	background-color: #fafafa;
}
#wrapper-cards .character-card {
	min-width: 200px;
}
#wrapper-cards .character-card:hover {
	background-color: #fafafa;
}
#wrapper-cards .character-card .wrapper-price {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}